/* body
*********************************/
body {
  font-family: 'Hiragino Sans', 'Verdana', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin: 0;
  color: $text-color;
  word-break: break-all;
  word-wrap: break-word;
}

/* header
*********************************/
#header{
  position:relative;
  height: 70px;
  border-bottom: 1px solid #dadada;
}

#logo{
  position:absolute;
  margin:20px, 20px;
}

.slicknav_menu .slicknav_icon{
  display: none;
}

@media screen and (min-width : 18000px) {
  #menu {
    display: block;
  }
  .slicknav_menu {
    display: none;
  }
}

/* content
*********************************/



/* footer
*********************************/

.footer{

}