/* body
*********************************/
body {
  font-family: 'Hiragino Sans', 'Verdana', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin: 0;
  color: #444;
  word-break: break-all;
  word-wrap: break-word;
}

h2{
  text-align: center;
  font-size: 18px;
}

h3{
  text-align: center;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: #FF6969;
}

#small{
  margin: 5px 0 0 5px;
  font-size: 12px;
}

.btn{
  margin: 15px;
  padding: 10px 30px;
  font-weight: bold;
  background-color: #FF6969;
  color: #fff;
  border-style: none;
}

#menu {
  display: none;
}

.btn:hover {
  background-color: #FF9F9F;
  color: #fff;
}

#date{
  padding: 10px 0 5px 0;
  text-align: right;
  font-size: 9px;
}

#boxArea{
  position: center;
}

#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 320px;
  margin: 50px auto;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.content {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.content img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.content p {
  font: 12px/18px;
  color: #333;
  margin: 0;
}

@media (min-width: 320px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 768px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

/* header
*********************************/
#header{
  position:relative;
  height: 70px;
  border-bottom: 1px solid #dadada;
}

#logo{
  position:absolute;
  margin:20px, 20px;
}

.slicknav_menu ul{
  padding: 0 0 0 15px;
}

.slicknav_menu .slicknav_icon{
  display: none;
}

@media screen and (min-width : 18000px) {
  #menu {
    display: block;
  }
  .slicknav_menu {
    display: none;
  }
}

/* content show
*********************************/
.content-wrapper {
  margin: 10px 0 ;
  padding: 10px 0 ;
}

#content-date{
  padding: 0 20px 30px 20px;
  text-align: center;
  font-size: 9px;
}

.swiper-container {
        max-width: 500px;
        min-width: 300px;
        width: 90%;
        height: 90%;
    }
.swiper-slide {
        text-align: center;
        width: 80%;
        font-size: 18px;
        background: #fff;
    }

.swiper-slide img{
  width :70%;
  height: auto;
}

.swiper-slide p{
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

.share_description{
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin:20px, 20px;
}

.contents_description{
  max-width: 700px;
  padding: 20px ;
  margin: 10px auto 30px auto ;
  font-size: 15px;
  background-color: #f2f2f2;
  text-align: center;
}

/* login/signin
*********************************/
.card-wrapper{
  position: relative;
  left: 0;
  right: 0;
  max-width: 700px;
  text-align: center;
  background-color: #EEEEEE;
  padding: 10px 50px 10px 50px;
  margin: 20px auto 0 auto;
}

.register_form{
  margin: 0 0 20px 0;
  padding: 10px 0 10px 10px;
  width: 100%;
  height: 20px;
}

/* form
*********************************/
.new_content{
  padding: 10px;
}

.form_label{
  margin: 10px 10px 10px 15px;
  font-size: 12px;
  font-weight: 600;
}

.form_label2{
  margin: 10px 10px 10px 15px;
  padding: 10px;
  font-size: 12px;
  font-weight: 800;
}

.title_form{
  border-style:none;
  border-bottom: 1px solid #dadada;
  margin: 10px 10px 10px 15px;
  padding: 10px;
  width: 85%;
  height: 20px;
}

.description_form{
  border-style:none;
  border-bottom: 1px solid #dadada;
  margin: 10px 10px 10px 15px;
  padding: 10px;
  width: 85%;
  height: 60px;
}

.caption_form{
  border-style:none;
  border-bottom: 1px solid #dadada;
  margin: 10px 10px 10px 15px;
  padding: 10px;
  width: 85%;
  height: 60px;
}

.thumbnails_btn{
  margin: 15px;
}

.button_wrapper{
  text-align: center;
}

.submit_btn{
  text-align: center;
  margin: 0 auto 10px auto ;
  padding: 10px 30px;
  font-weight: bold;
  background-color: #FF6969;
  color: #fff;
  border-style: none;
  -webkit-appearance: none;
}

.submit_btn:hover {
  background-color: #FF9F9F;
  color: #fff;
}

.nav_description{
  color: #444444;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin: 20px, 20px;
  padding: 0 10px 20px 10px;
}

.preview_creative{
  width: 30%;
  height: 30%;
}


/* footer
*********************************/

.footer{
  background-color: #f2f2f2;
  margin: 50px auto 10px auto ;
  padding: 20px;
  text-align: center;
  font-size: 9px;
}